@model ShareResource.Models.ViewModels.GalleryViewModel
<div class="gallery-container">
    <div class="row" id="gallery">
        @if (Model.Imgs != null)
        {
            @foreach (var image in Model.Imgs)
            {
                @await Html.PartialAsync("_ImgItem", image)
                ;
            }
        }
        else
        {
            <div>No item found</div>
        }
    </div>
</div>
<div class="pagination">
    @if (Model.Pagination != null)
    {
        <button id="prevPage" class="unchanged-btn" @(Model.Pagination.currentPage == 1 ? "disabled" : "")>Previous</button>
        <span id="pageNumbers">
            @for (int i = 1; i <= (int)Math.Ceiling((decimal)Model.Pagination.totalItems / Model.Pagination.limit); i++)
            {
                <button class="page-btn @(i == Model.Pagination.currentPage ? "current-page" : "")" data-page="@i">
                    @i
                </button>
            }
        </span>
        <button id="nextPage" class="unchanged-btn" @(Model.Pagination.totalItems - Model.Pagination.currentPage * Model.Pagination.limit<0? "disabled" : "")>Next</button>
    }
</div>
<script>
   document.querySelectorAll('.page-btn').forEach(button => {
    button.addEventListener('click', function () {
        const page = this.getAttribute('data-page');
        window.location.href = '@Url.Action("Explore", "Home")?page=' + page;
    });
});

document.querySelector('#prevPage').addEventListener('click', function () {
    let currentPage = @Model.Pagination.currentPage;  // Current page from the model
    let prevPage = currentPage - 1;
    if (prevPage >= 1) {
        window.location.href = '@Url.Action("Explore", "Home")?page=' + prevPage;
    }
});

document.querySelector('#nextPage').addEventListener('click', function () {
    let currentPage = @Model.Pagination.currentPage;  // Current page from the model
    let nextPage = currentPage + 1;
    window.location.href = '@Url.Action("Explore", "Home")?page=' + nextPage;
});
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    function redirectToItem(imgId) {
        const url = '/resources/' + imgId; // Use string concatenation
        window.location.href = url;
    }
    $(document).on('click', '.clickable-items', function () {
        const imgId = $(this).data('imgid');
        redirectToItem(imgId);
    });
</script>