@model ShareResource.Models.ViewModels.ImgResultViewModel
@{
    var isLogged = Context.Request.Cookies["isLogged"] == "Yes";
        
}
<div class="col-md-3 mb-3">
    <div class="card" data-imgid="@Model.ImgId">
        <img src="@Url.Content(@Model.FileUrl)" alt="@Model.FileName" class="card-img-top clickable-items" />

        <div class="card-body">
            
            <p class="card-text">
                <small class="text-muted">
                    File Name: @Model.FileName <br />
                    Uploaded on: @Model.UploadDate.ToString("dd MMM yyyy")
                </small>
            </p>
            <p class="card-text">
                <small class="text-muted">
                    <p>Author: <a href=@Url.Action("GetUserProfile","Resource",new { userId = Model.AuthorId })>@Model.AuthorName</a></p>

                    Email: <a href="mailto:@Model.AuthorEmail">@Model.AuthorEmail</a>
                </small>
            </p>
            <button class="btn btn-outline-primary btn-like-toggle"  data-imgid="@Model.ImgId" data-userid="@Model.AuthorId">
                <i class="fas fa-thumbs-up"></i> Like
            </button>
                <span class="like-count" data-imgid="@Model.ImgId"></span>
            
        </div>
    </div>
</div>

