@model ShareResource.Models.ViewModels.ImgResultViewModel
<div class="col-md-3 mb-3">
    <div class="card clickable-items" data-imgid="@Model.ImgId">
        <img src="@Url.Content(@Model.FileUrl)" alt="@Model.FileName" class="card-img-top" />

        <div class="card-body">
            <h5 class="card-title">@Model.FileName</h5>
            <p class="card-text">Uploaded on: @Model.UploadDate.ToString("dd MMM yyyy")</p>
            <button class="btn btn-danger btn-delete mt-2" data-imgid="@Model.ImgId">
                Delete
            </button>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        
        $(document).on('click', '.clickable-items', function () {
            function redirectToItem(imgId) {
                const url = '/resources/' + imgId; // Use string concatenation
                window.location.href = url;
            }
            const imgId = $(this).data('imgid');
            redirectToItem(imgId);
        });
    </script>
}
