@model ShareResource.Models.ViewModels.ImgResult
<div class="col-md-3 mb-3">
    <div class="card">
        <img src="@Url.Content(@Model.FileUrl)" alt="@Model.FileName" class="card-img-top" />

        <div class="card-body">
            <h5 class="card-title">@Model.FileName</h5>
            <p class="card-text">Uploaded on: @Model.UploadDate.ToString("dd MMM yyyy")</p>
        </div>
    </div>
</div>